.body {
    background-color: wheat;
}

.witam {
    font-size: xx-large;
    text-align: center;
    color: white;
    background-color: darkgray;
    border: 8px solid whitesmoke;
}

.text {
    text-align: center;
    font-size: xx-large;
    color: rebeccapurple;
    font-style: oblique;
    font-variant: small-caps;
}

.info {
    background-color: lightcoral;
    line-height: 2,5;
    border: 8px solid black;
    color: black;
    font-size: x-large;
}

.bocian {
    color: red;
    font-size: xx-large;
    font-style: oblique;
    font-variant: small-caps;
}