.box {
    width: 400px;
    padding: 30px; /* Padding, aby tło rozciągało się do środka */
    border: 10px solid #333; /* Obramowanie */
    margin: 20px auto;
    color: red;
    font-size: 18px;
    text-align: center;
    background-color: rgba(0, 128, 255, 0.8); /* Tło */
}

/* Ustawienia dla background-clip: border-box */
.border-box {
    background-clip: border-box;
}

/* Ustawienia dla background-clip: padding-box */
.padding-box {
    background-clip: padding-box;
}

/* Ustawienia dla background-clip: content-box */
.content-box {
    background-clip: content-box;
}