.body {
    background-color: aqua;
}

.menu {
    font-size: xx-large;
    top: 90%;
    left: 50%;
    color: green;
}

.sidebar {
    position: fixed;
    left: auto;
    bottom: 50%;

}

.comments {
    background-color: brown;
    color: aliceblue;
    font-size: large;
}

@media print {
    body {
        font-size: 12pt;
        color: black;
        background: white;
    }
    .menu, .sidebar, .comments {
        display: none; /* Ukrywamy elementy nieistotne w wydruku */
    }
}